## Lecture 1: Introduction to Programming

In [2]:
print("Hello world")

Hello world

## Lecture 2: Introduction to Basic Python operation

In [5]:
#Strings and encodings   
'Cheers, %s, you have £%d.' % ('Bob', 10000)

'Cheers, Bob, you have £10000.'

In [7]:
#Conditional Judgment statements
age = 25
if age >= 18:
    print('your age is', age)
    print('adult')

your age is 25
adult

In [8]:
age = 15
if age >= 18:
    print('your age is', age)
    print('adult')
else:
    print('your age is', age)
    print('teenager')

your age is 15
teenager

In [11]:
age = 1 
if age >= 18:
    print('adult')
elif age >= 6:
    print('teenager')
else:
    print('kid')

kid

In [13]:
s = input('age: ')
birth = int(s)
if birth <= 18:
    print('adult')
else:
    print('teenager')

age: 18
adult

In [29]:
# Usage of “list” and “tuple”

classmates = ['Hasan', 'Bob', 'Richard']
print(classmates)
print(len(classmates))
print(classmates[0])

['Hasan', 'Bob', 'Richard']
3
Hasan

In [30]:
classmates.append('Adam')
print(classmates)

['Hasan', 'Bob', 'Richard', 'Adam']

In [31]:
classmates.pop(1)
print(classmates)

['Hasan', 'Richard', 'Adam']

In [33]:
shopping = ['apple', 'pear', 'prune', 'date']
payment = ['subsistence', 'petrol', shopping, 'rent']
print(payment)

['subsistence', 'petrol', ['apple', 'pear', 'prune', 'date'], 'rent']

In [1]:
t = ('q', 'w', ['a', 's'])
print(t)
t[2][1]

('q', 'w', ['a', 's'])

's'